*{
    list-style-type:none;margin:0;
    padding:0;
    text-decoration: none;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:auto;
    -ms-user-select:none;
    user-select:none;
}
html{font-size:10px}
@media screen and (min-width:321px) and (max-width:375px){html{font-size:11px}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:12px}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:15px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:20px}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:22.5px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:23.5px}}
@media screen and (min-width:800px){html{font-size:25px}}

#titleImg{
    position: fixed;
    width:100%;
    top:0;
    z-index: 1002;
    height:150px;
    overflow:hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}
#bt{
    position: fixed;
    width:100%;
    z-index: 1000;
    letter-spacing:5px;
    color:#005BAC;
    height:100px;
    top:150px;
    background: #d7d7d7;
    line-height: 100px;
    font-size:2.2rem;
}
#bt>p{
    width: 100%;
    text-align: center;
    display: inline-block;
}
.daohang{
    position: fixed;
    z-index: 9;
    width:100%;
    text-align: center;
    background: #e7e7e7;
    padding:20px 0 20px;
    top:250px;
}
.daohang>div:nth-child(Odd){
    margin:0 15px 0 ;
    display: inline-block;
    width:2.5rem;
    height:2.5rem;
    text-align:center;
    line-height: 2.5rem;
    border-radius: 50%;
    background:#bfb5ca;
    color: #fff;
    font-size: 1.6rem;
}
.daohang>div:nth-child(even){
    display: inline-block;
    width:3rem;
    height:0.5rem;
    margin-bottom: 0.5rem;
    background: #bfb5ca;
}
.current{
    background:#1565c0!important;
}
#enlargeImg{
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 9999;
    background: rgba(0,0,0,.5);
    overflow: auto;
}
#enlargeImg>img{
    width: 100%;
    margin-top:35%;
}
#motai{
    position: fixed;
    width:100%;
    height:100%;
    z-index: 10002;
    background: rgba(0,0,0,.8);
}
#motai>div{
    width:70%;
    height:30%;
    margin:45% auto 0 ;
    border-radius:10px;
    background: rgba(255,255,255,0.65);
}
#motai>div>div{
    padding:20% 20px 20px 20px;
}
#motai>div>div>p{
    display:block;
    color:#fff;
}
#motai>div>button{
    border:0;
    width:20%;
    background: rgba(0,0,0,0);
    border-radius: 10px;
    margin:20px 5px 5px 5px ;
    float: right;
}
#motai>div>button>img{
    width:50%;
}
.Support{
    width:100%;
    height:100px;
    position: fixed;
    bottom: 0;
    z-index: 100000;
    background: #014FA1;
    overflow: hidden;
    text-align: center;
}
.Support1{
    width:100%;
    height:100px;
    position: fixed;
    bottom: 0;
    z-index: 100001;
    margin-top:20px;
    background: #014FA1;
    overflow: hidden;
    text-align: center;
}
.Support>img{
    max-width:70%;
    min-width:50%;
    margin-top:10px;
}
.Support1>img{
    max-width:70%;
    min-width:50%;
    margin-top:10px;
}
#app1{
    width:100%;
    height:80%;
    position:fixed;
    background: #e7e7e7;
    z-index: 10;
    top:250px;
}
#app1>div{
    width:100%;
    height:45%;
    overflow:hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    margin-top:25px;
}
#app2{
    width:100%;
    height:90%;
    position:fixed;
    overflow:auto;
    background: #e7e7e7;
    z-index: 8;
    top:250px;
    font-size: 1.6rem;
}
#app2>ul{
    margin-top:20%;
}
#app2>ul>li{
    width:90%;
    margin:0 auto;
}
#app2>ul>li>div{
    width:37%;
    display: inline-block;
    margin:0 auto;
}
#app2>ul>li>input{
    width:60%;
    border:1px solid rgba(0,168,145,.8);
    margin:10px 0 10px 0;
    height:90px;
    padding: 0 0 0 2%;
    font-size: 1.6rem;
}
#app2>ul>li>input:focus{
    border:1px solid rgba(0,168,145,1);
}
#app2>.file_type{
    width:90%;
    margin:0 auto;
    line-height: 60px;
}
#app2>.file_type>div{
    width:100%;
    margin:20px auto;
    display: flex;
    justify-content: space-between;
}
#app2>.file_type>div>span{
    width:13rem;
    display: inline-block;
    text-align: center;
    margin: 10px 10px;
    border:1px solid #00B7EE;
    border-radius:10px;
    background: #fff;
}
#app2>.file_type>div>.hove{
    background: #00B7EE;
}
#app2>button{
    width:90%;
    height:120px;
    background: #1565c0;
    border:0;
    color:#fff;
    margin:100px 0 0 5%;
    font-size: 1.6rem;
}
#app3{
    width:100%;
    height:100%;
    position:fixed;
    overflow:auto;
    background: #e7e7e7;
    z-index: 7;
    top:230px;
    font-size: 1.2rem;
}
#app3>div:first-child{
    width:100%;
    height:68%;
    margin:20% 0 0 0;
    overflow: auto;
}
.falseClick{
    width:100%;
    height: 140px;
    padding: 4px 0;
    position: relative;
    z-index: 10000;
    *display: inline;
    *zoom: 1;
    top:-70%;
}
#app3>div>h1{
    letter-spacing:2px;
    text-align: center;
    margin: 0 0 5% 0;
}
.a-upload{
    background-image: url("/static/mobile_terminal/images/Abo.png");
    width:200px;
    height:200px;
    margin:0 auto;
}
.a-upload  input {
    display: none;
}
#imgBox {
    width:90%;
    display: inline-block;
    margin:30px 5% 30px;
}
#imagesBOX{
    width:90%;
    margin:0 auto;
    border:2px solid #fff;
}
#imagesBOX>div{
    width:200px;
    height:200px;
    display: inline-block;
    line-height: 200px;
    overflow: hidden;
    margin:10px 10px;
    background:rgba(0,0,0,.3);
}
#imagesBOX >div>img{
    margin:0;
    padding:0;
    width:100%;
    vertical-align: middle;

}
#imgBox>img{
    margin:10px 5px 10px;
}
#app3>div>button{
    width:90%;
    height:120px;
    background: #199ED8;
    border:0;
    color:#fff;
    border-radius: 5px;
    margin:60px 0 0 5%;
    font-size: 1.6rem;
}
button[disabled]{
    background: #666666 !important;
}
#app4{
    width:100%;
    height:80%;
    position:fixed;
    overflow:auto;
    background: #e7e7e7;
    letter-spacing:4px;
    z-index: 6;
    top:250px;
    font-size: 1.6rem;

}
#app4>div:first-child{
    width:80%;
    height:11%;
    border-radius: 5px;
    background:rgba(255,255,255,.5);
    padding:5px 5px 5px 5px ;
    margin:20% auto 0;
}
#app4>div:nth-child(1)>div{
    width:100%;
    height:33%;
    display: flex;
    justify-content: space-between;
}
#app4>div:nth-child(1)>div>span{
    float: right;
}
#app4>div:nth-child(2)>div:nth-child(1){
    width:80%;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    margin:20px auto 20px;
    padding:30px 0 30px 0;
    text-align: center;
    overflow: hidden;
}
#app4>div:nth-child(2)>div:nth-child(1)>img{
    width:32%;
    height:120px;
}
#app4>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>img{
    width: 80%;
    height:25%;
    background: rgba(255,255,255,.6);
    border-radius: 20px;
    margin:0 10% 30px;
    overflow: hidden;
}
#app4>div:nth-child(2)>div:nth-child(2)>div:nth-child(2){
    text-align:center;
    width: 80%;
    height:25%;
    background: rgba(255,255,255,.6);
    border-radius: 20px;
    margin:0 auto 30px;
    overflow: hidden;
}
#app4>div:nth-child(2)>div:nth-child(2)>div:nth-child(2)>img{
    width:100%;
    height:100%;
}
#app4>div:nth-child(2)>div:nth-child(2)>div:nth-child(3){
    width:70%;
    margin:0 auto;
    border:2px solid rgba(255,255,255,.7);
}
#app4>div:nth-child(2)>div:nth-child(2)>div:nth-child(3)>div{
    width:100%;
    letter-spacing: 5px;
}
#app4>div:nth-child(2)>div:nth-child(2)>div:nth-child(3)>div>span{
    float: right;
}
#app4>div:nth-child(2)>div:nth-child(2)>div:nth-child(3)>div>p{
}
#app4>div:nth-child(2)>div>div>div{
    text-align: left;
}
#app4>div:nth-child(2)>div>div>div>span{
    float: right;
    display: inline-block;
}
#app4>button{
    width:90%;
    font-size: 1.6rem;
    height:120px;
    background: #1565c0;
    border:0;
    color:#fff;
    margin:60px 0 0 5%;
}
#app5{
    width:100%;
    height:82.7%;
    position:fixed;
    overflow:scroll;
    background: #e7e7e7;
    z-index: 5;
    padding:15% 0 0 0;
    top:250px;

}
#app5>h1{
    text-align: center;
}
#app5>ul{
    background: rgba(255,255,255,.8);
    margin:30px auto 30px;
}
#app5>ul>li{
    width:90%;
    margin:5px auto;
}
#app5>ul>li>span{
    float: right;
}
#app5>h2{
    width:100%;
    height:100px;
    text-align: center;
    background: #1565c0;
    overflow:auto;
    color:#fff;
    line-height: 100px;
    letter-spacing:5px;
    font-weight: 100;
}
#app5>img{
    width:98%;
    text-align:center;
    margin:0 auto;
}
#app5>.luck{
    width:80%;
}
#loading{
    width:100%;
    height:100%;
    background: #fff;
    position:fixed;
    z-index: 999;
    font-size: 1.6rem;
    padding:40% 0 0 0;
    text-align: center;
    display: none;
    color:#000;
}
#loading>img{
    width:40%;
}
#loading>button{
    width:90%;
    height:120px;
    background: #199ED8;
    border:0;
    font-size: 1.6rem;
    color:#fff;
    border-radius: 5px;
    margin:60px 0 0 0;
}
#app6{
    width:100%;
    height:77%;
    position:fixed;
    overflow:auto;
    background: #Fff;
    letter-spacing:4px;
    z-index: 8;
    padding-top:5%;
    top:250px;
    font-size: 1.4rem;
}
#app6>div{
    width:90%;
    margin:10px auto;
    padding:10px 5% 10px 5%;
    background: rgba(255,255,255,.5);
    border-bottom:3px dashed #000;
}
#app6>div>div>span{
    display: inline-block;
}
#app6>div>div>div{
    display: inline-block;
    width:49%;
}
#app6>div>div>div>span{
    display: inline-block;
}
#app6>button{
    width:80%;
    height:60px;
    margin-left:10%;
    background: #005BAC;
    color:#fff;
    border:1px;
}
#app6>div>div:nth-child(1)>div:nth-child(1){
    width:30%;
}
#app6>div>div:nth-child(1)>div:nth-child(2){
    width:69%;
}
#app7{
    width:100%;
    height:80%;
    position:fixed;
    background: #ddd;
    letter-spacing:4px;
    z-index: 8;
    overflow: auto;
    top:250px;
    font-size: 1.4rem;
}
#app7>div:nth-child(1){
    width:90%;
    margin:10px auto;
    padding:10px 5% 10px 5%;
    background: rgba(255,255,255,.5);
    border-bottom:3px solid #000;
    padding-top:2rem;
}
#app7>div>div>span{
    display: inline-block;
}
#app7>.name_xinxi>div>div{
    display: inline-block;
    width:49%;
}
#app7>div>div>div>span{
    display: inline-block;
}
#app7>div:nth-child(2){
    width:90%;
    margin:10px auto;
    padding:10px 2% 50px 2%;
    background: #fff;
    border:1px solid #000;
    font-size: 1.5rem;
}
#app7>div:nth-child(2)>div:nth-child(2)>div{
    font-size: 1.5rem;
    width:100%;
}
#app7>div:nth-child(2)>div:nth-child(2)>div>p{
    width:100%;
}
#app7>div:nth-child(2)>div:nth-child(2)>div>p>span{
    text-align: left;
    text-indent: 5%;
}
#app7>div:nth-child(2)>div:nth-child(2)>div>p>span:nth-child(2){
    text-align: right;
    width:45%;
    padding-right:5%;
}
#app7>div:nth-child(2)>.xqy>div:not(:first-child)>span{
    text-align: left;
    text-indent:5%;
}
#app7>div:nth-child(2)>.xqy>div:not(:first-child)>span:nth-child(2){
    text-align: right;
    width:35%;
}
#app7>div:nth-child(2)>div:nth-child(4){
    height:600px;
}
#app7>div:nth-child(2){
    overflow: hidden;
}
#app7>div:nth-child(2)>button{
    width:100%;
    height:80px;
    background: #53e3a6;
    border:0;
    letter-spacing: 5px;
    color:#fff;
    font-size: 1.6rem;
}
.xqy{
    width:100%;
    padding-bottom: 20px;
    border-bottom: 2px solid #000;
}
#app7>div>.xqy>div{
    width:100%;
}
#app7>div>.xqy>div>span:nth-child(1){
    text-align:center;
    width:60%;
}
#app7>div>.xqy>div>span:nth-child(2){
    text-align:center;
    width:37%;
}
#app7>div>.shugang_Box{
    width:80%;
    border-left:2px solid #000;
    margin:50px auto 0;
}
#app7>div>div>.shugang{
    width:30px;
    height:30px;
    border-radius: 50%;
    background: red;
    margin:-15px 0 0 -15px;
}
#app7>div>.shugang_Box>.shugang_text{
    width:100%;
    right:10%;
    border:0;
    padding-bottom: 5px;
    overflow: hidden;
}
#app7>div>.shugang_Box>.shugang_text>div{
    border-bottom:1px solid #000;
    margin:20px 0;
    padding:0 0 5px 20px;
}
#app7>div>.shugang_Box>.shugang_text>div>p{
    text-align:right;
}
.Invoice_details{
    width:100%;!important;
    margin:20px auto;
}
.Invoice_details>p>span{
    display: inline-block;
    width:49%;
    text-align: center;
}
.Prescription_details{
    width:100%;!important;
    margin:20px auto;
}
.Prescription_details>p>span{
    display: inline-block;
    width:49%;
    text-align: center;
}
#app8{
    width:100%;
    height:80%;
    position:fixed;
    background: #ddd;
    letter-spacing:4px;
    z-index: 7;
    overflow: auto;
    top:250px;
    font-size: 1.6rem;
}
#app8>.tite{
    width:95%;
    height:80px;
    padding-left:5%;
    line-height: 80px;
}
#app8>.img_Box{
    width:90%;
    background: #fff;
    margin:0 auto;
    padding:10px;
    border:1px solid #000;
}
#app8>.img_Box>div>div:nth-child(1){
    width:15%;
    padding-left:1%;
}
#app8>.img_Box>div>div:nth-child(2) {
    width:83%;
    margin-left:16%;
}
#app8>.img_Box>div>div:nth-child(2)>img{
    width:40%;
    margin:5px 4%;
}
#app8>.img_Box>div{
    border-bottom: 2px solid rgba(0,0,0,.5);
}
.fanhui{
    position: fixed;
    top:12%;
    left:5%;
    z-index: 1001;
}
#login{
    width:100%;
    height:80%;
    position:fixed;
    background: #ddd;
    letter-spacing:4px;
    z-index: 20;
    overflow: auto;
    top:250px;
    font-size: 2rem;
}
#login>div{
    padding-top:30%;
    width:90%;
    margin:0 auto;
    text-align: center;
}
#login>div>div{
    width:100%;
    margin:50px 0;
}
#login>div>div >input{
    width:80%;
    height:2em;
    padding-left:20px;
    font-size: 1.9rem;
    border:0;
    border-radius: 5px;
}
#login>div>button{
    width:50%;
    height:3.5rem;
    background: #1565c0;
    color:#fff;
    border:0;
    font-size: 2rem;
    border-radius: 5px;
}
#login>div>button:focus{
    background: #005BAC;
}
#app>#fram{
    width:100%;
    height:80%;
    position: fixed;
    top:250px;
}
iframe{
    width:100%;
    height:100%;
}
#app9{
    width:100%;
    height:80%;
    position:fixed;
    letter-spacing:4px;
    z-index: 9;
    overflow: auto;
    background: #fff;
    top:250px;
    font-size: 1rem;
}
#app9>.app9_d1c{
    width:85%;
    padding-top:50px;
    margin:0 auto;
}
#app9>.app9_d1c>button{
    width:100%;
    height:100px;
    letter-spacing: 8px;
    background: #14446A;
    color:#fff;
    border:0;
    margin:20px auto;
    font-size: 1.6rem;
}
#app9>.app9_d1c>.app9_d1c_1>p{
    margin:0.5rem 0;
}
#app9>.app9_d1c>.app9_d1c_1>p>span:nth-child(1){
    color:#999;
}
#app9>.app9_d1c>.app9_d1c_2>div{
    width:70%;
    margin:50px auto;
    color:#000099;
    border-left:2px solid #000099;
    font-size: 1.6rem;
}
#app9>.app9_d1c>.app9_d1c_2>div>div>p{
    margin:1rem;
}
#app9>.app9_d1c>.app9_d1c_2>div>div{
    position: relative;
    padding-left:2rem;
}
#app9>.app9_d1c>.app9_d1c_2>div>div>div{
    width:1.5rem;
    height:1.5rem;
    background:#000099;
    border-radius: 50%;
    position: absolute;
    top:-0.75rem;
    left:-0.75rem;
}
#app9>.app9_d1c>.app9_d1c_2>div>div:nth-child(1)>div{
    width:2rem;
    height:2rem;
    top:-1rem;
    left:-1rem;
}